
body {
  margin: 40px;
}

.wrapper {
        display: grid;
    grid-gap: 10px;
        grid-template-columns: [col1-start] 300px  [col2-start] 300px  [col3-start] 300px [col3-end];
        grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
        background-color: #fff;
        color: #444;
    }

    .box {
        background-color: #444;
        color: #fff;
        border-radius: 5px;
        padding: 20px;
        font-size: 150%;

    }
  
    .box .box {
        background-color: #ccc;
        color: #444;
        padding: 10px;
        border-radius: 5px;
    }

    .a {
        grid-column: col1-start / col3-end;
        grid-row: row1-start ;
    }
    .b {
        grid-column: col1-start ;
        grid-row: row2-start;
        display: grid;
        grid-gap: 10px;
    }
   .ba {
       grid-column: 1;
       grid-row: 1;

    }
    .bb {
       grid-column: 1;
       grid-row: 2;  
    }
    .c {
        grid-column: col2-start;
        grid-row: row2-start ;
    }
    .d {
        grid-column: col3-start ;
        grid-row: row2-start ;
        display: grid;
        grid-gap: 10px;
    }
    .da {
        grid-column: 1;
        grid-row: 1;
    }
    .db {
        grid-column: 1;
        grid-row: 2;
    }

